<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency calculator</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div>
    <h1>Kalkulator walut</h1>
    <form action="/" method="POST">
      <select name="currency" id="cars">
        <option value="USD">Dolar amerykański</option>
        <option value="AUD">Dolar australijski</option>
        <option value="CAD">Dolar kanadyjski</option>
        <option value="EUR">Euro</option>
        <option value="HUF">Forint (Węgry)</option>
        <option value="CHF">Frank szwajcarski</option>
        <option value="GBP">Funt szterling</option>
        <option value="JPY">Jen (Japonia)</option>
        <option value="CZK">Korona czeska</option>
        <option value="DKK">Korona duńska</option>
        <option value="NOK">Korona norweska</option>
        <option value="SEK">Korona szwedzka</option>
        <option value="XDR">SDR (MFW)</option>
      </select>
      <h4>Podaj ilość:</h4>
      <textarea name="quantity" title="Kwota"></textarea>
      <br><button type="submit">Calculate</button></br>
    </form>
    <p>Sum to pay for {{currency}}: {{ ammount }} zł</p>
  </div>
</body>
</html>